<section data-ng-controller="registercontroller">
<div style="align-items: center; text-align: center;">
		<h1 style="color: #33aaaa">
			<b>Register</b>
		</h1>
		<br>
		<br>
		<br> <input class="form-control" id="email" type="text" data-ng-model="user_input"
			placeholder="Email-Id..."> <br>

		<div id="pwd_div" class="form-group has-feedback">

			<input class="form-control" data-ng-model="pwd_input" id="pwd"
				type="password" placeholder="Password..."> 
		<br><input class="form-control" data-ng-model="confirm_pwd_input" id="pwd1"
				type="password" placeholder="Confirm Password..."> 

		</div>
		<br>
		<input class="form-control" id="name" type="text" data-ng-model="user_name"
			placeholder="Name..."> <br>
		<input class="form-control" id="phoneno" type="text" data-ng-model="user_phone"
			placeholder="Phone no..."> 
			<br>
			<input class="form-control" type="date" id="date_Input" ng-model="user_dob" placeholder="yyyy-MM-dd" min="1970-01-01" max="2005-12-31" required />
			<br>
		<button class="btn btn-primary" style="width: 100%" data-ng-click="signUp()">SignUp</button>
		<br>
		<a href="/login">Login</a>
	</div>
</section>